.firstSectionCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
  font-weight: bold;
  border-radius: 6px;
  max-width: 250px;
  min-width: 250px;
}

.firstSectionCard:hover {
  background-color: rgba(128, 128, 128, 0.178);
}

.firstSectionCard img {
  max-width: 30px;
}

.notifCircle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #1877f2;
}

.firstSectionCard .info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: -20px;
  font-size: 0.7em;
  color: #1877f2;
}

/* Status and add status */
.statusAndAddStatusCard {
  min-width: 130px;
  min-height: 200px;
  max-width: 130px;
  max-height: 200px;
  box-shadow: 0 0 3px 2px rgba(151, 151, 151, 0.322);
  margin: 0 0.3em;
  border-radius: 8px;
}

.statusAndAddStatusCard img {
  max-width: 130px;
  border-radius: 8px;
}

.statusAndAddStatusCard .clickAddButton {
  position: relative;
  top: -14%;
  background-color: white;
  width: 100%;
  height: 50px;
  border-radius: 0 0 8px 8px;
}

.statusAndAddStatusCard .clickAddButton .clickAddButtonAddButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  top: -25px;
  left: 30%;
  background-color: white;
}

.statusAndAddStatusCard .clickAddButton p {
  text-align: center;
  position: relative;
  top: -75%;
  font-weight: bold;
  font-size: 0.8em;
}
