.homePageContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0 0 0;
  position: relative;
  top: 3em;
}

.firstSectionContaienrCn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  overflow: auto;
  position: fixed;
  width: 25vw;
  top: 4em;
}

.firstSectionContaienrCn .user___ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-left: 1em;
}

.firstSectionContaienrCn .user___ p {
  margin-left: 0.5em;
}

.firstSectionContaienrCn .user___ img {
  max-width: 40px;
}

.firstSection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-left: 1em;
  overflow: auto;
  max-height: 90vh;
}

.over__ {
  width: 20px;
  height: 200px;
  margin-bottom: 5em;
}

.seeMore {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 60%;
  max-width: 250px;
  border-radius: 6px;
  padding: 0 1em;
}

.seeMore img {
  max-width: 30px;
}

.seeMore:hover {
  background-color: rgba(128, 128, 128, 0.178);
}

.secondPageContent {
  position: relative;
  left: 25vw;
}

.secondPageContent .statusContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: center;
  position: fixed;
}

.feedContainerCn {
  width: 55vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.feedContainer {
  margin-top: 15em;
  width: 100%;
}

.centerIt {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedContainer .onMindForPost {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  width: 60%;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 0 2px 1px rgba(151, 151, 151, 0.226);
}

.onMindForPost hr {
  width: 90%;
}

.feedContainer .onMindForPost img {
  max-width: 40px;
}

.onMindPostInputs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-self: flex-start;
}

.onMindPostInputs input {
  margin-left: 0.5em;
  width: 230%;
  padding: 0.6em 1em;
  border-radius: 50px;
  border: solid 1.3px transparent;
  font-size: 1em;
  background-color: #e4e4e4ad;
}

.onMindPostOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.onMindPostOption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.7em;
  border-radius: 7px;
}

.onMindPostOption:hover {
  background-color: #e4e4e4ad;
}

.onMindPostOption p {
  color: grey;
  font-size: 0.8em;
  margin-left: 0.4em;
}

.onMindPostOption img {
  max-width: 10px;
}
